<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="toolbar-header">
    <ion-item>
      <ion-select label="Author" [interfaceOptions]="customAlertOptions" [multiple]="true" interface="alert"
                  placeholder="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Year" [interfaceOptions]="customAlertOptions" [multiple]="true" interface="alert"
                  placeholder="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Page" [interfaceOptions]="customAlertOptions" [multiple]="true" interface="alert"
                  placeholder="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Language" [interfaceOptions]="customAlertOptions" [multiple]="true" interface="alert"
                  placeholder="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Genre" [interfaceOptions]="customAlertOptions" [multiple]="true" interface="alert"
                  placeholder="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let book of books; let i=index">
      <ng-container *ngIf="book">
        <ion-label [routerLink]="'/books/' + i">
          <div>
            <span style="color: #9d9fa6;">{{book.name}}</span>
            <span style="color: #d0d0d0; margin: 0 4px">{{book.year}}</span>
            <span style="color: #2fdf75; margin: 0 4px">{{book.pageCount}}</span>
            <span style="color: #eeeefc; ">{{book.language}}</span>
          </div>
          <div>
            <span style="color: #6a64ff; margin: 0 4px 0 0">{{book.author}}</span>
            <span>{{book.genre}}</span>
          </div>
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
