<app-header-back header="New book" [isBack]="true"></app-header-back>

<ion-content class="cntnt">
  <ion-toast [isOpen]="createdBook"
             message="Successfully created new book!"
             icon="checkmark-done-outline"
             (didDismiss)="createdBook=false"
             [duration]="secondToShow"/>
  <form [formGroup]="newBookForm" (submit)="submitForm()">
    <ion-item>
      <ion-input formControlName="name" label="Name" type="text" placeholder="Enter book name"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="author" label="Author" type="text" placeholder="Enter author name"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="description" label="Description" type="text"
                 placeholder="Enter book description"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="pageCount" label="Count" type="text" type="number"
                 placeholder="Enter book page count"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="genre" label="Genre" type="text" placeholder="Enter book genre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="language" label="Language" type="text"
                 placeholder="Enter book language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="year" label="Year" type="number"
                 placeholder="Enter year of book publishing"></ion-input>
    </ion-item>
    <ion-button type="submit" class="btn-save" fill="outline" size="small">SAVE</ion-button>
  </form>
</ion-content>
