<app-header-back [header]="this.currentBook.name" [isBack]="true">
  <ion-buttons slot="end">
    <ion-button (click)="editBookMode=!editBookMode">{{editBookMode ? 'CANCEL' : 'EDIT'}}</ion-button>
  </ion-buttons>
</app-header-back>

<ion-content [fullscreen]="true" *ngIf="currentBook">
  <ion-toast [isOpen]="updatedBook"
             message="Successfully updated!"
             icon="checkmark-done-outline"
             (didDismiss)="updatedBook=false"
             [duration]="secondToShow"/>
  <ng-container *ngIf="!editBookMode else editBookModeView">
    <ion-item>
      <ion-item-group class="field-val">
        <ion-icon name="book-outline" aria-hidden="true" color="primary"></ion-icon>
        <ion-label>Name:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.name }}</span>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="currentBook.year!>1">
      <ion-item-group class="field-val">
        <ion-icon name="calendar-clear-outline" aria-hidden="true" color="primary"></ion-icon>
        <ion-label>Year:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.year }}</span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-item-group class="field-val">
        <ion-icon aria-hidden="true" name="people-outline" color="primary"></ion-icon>
        <ion-label>Author:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.author }}</span>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="currentBook.pageCount>1">
      <ion-item-group class="field-val">
        <ion-icon aria-hidden="true" name="chevron-expand-outline" color="primary"></ion-icon>
        <ion-label>Pages:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.pageCount }}</span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="currentBook.description && currentBook.description.length>1">
      <ion-item-group class="field-val">
        <ion-icon aria-hidden="true" name="sunny-outline" color="primary"></ion-icon>
        <ion-label>Description:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.description }}</span>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="currentBook.genre.length>1">
      <ion-item-group class="field-val">
        <ion-icon aria-hidden="true" name="trail-sign-outline" color="primary"></ion-icon>
        <ion-label>Genre:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.genre }}</span>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="currentBook.language.length>1">
      <ion-item-group class="field-val">
        <ion-icon aria-hidden="true" name="language-outline" color="primary"/>
        <ion-label>Language:</ion-label>
      </ion-item-group>
      <ion-label class="ion-text-wrap">
        <span class="txt">{{ currentBook.language }}</span>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>

<ng-template #editBookModeView>
  <form [formGroup]="editBookForm" (submit)="submitForm()">
    <ion-item>
      <ion-input formControlName="name" label="Name" type="text" placeholder="Enter book name"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="author" label="Author" type="text" placeholder="Enter author name"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="description" label="Description" type="text"
                 placeholder="Enter book description"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="pageCount" label="Count" type="text" type="number"
                 placeholder="Enter book page count"/>
    </ion-item>
    <ion-item>
      <ion-input formControlName="genre" label="Genre" type="text" placeholder="Enter book genre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="language" label="Language" type="text"
                 placeholder="Enter book language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="year" label="Year" type="number"
                 placeholder="Enter year of book publishing"></ion-input>
    </ion-item>
    <ion-button type="submit" class="btn-save" fill="outline" size="small">UPDATE</ion-button>
  </form>
</ng-template>
